h1{
    color: rgb(24, 24, 211);
    font-size: 75px;
}

i{
     font-size: 25px;
}



header{
    background: linear-gradient(110deg, yellow 40%,pink 40%) ;
}

section{
    background: lightseagreen;
}

footer{
    background: black; color:whitesmoke;
}

div{
    text-align: center;
    padding: 40px;
}

h3{
    border: 2px solid white;
    padding: 15px;
    font-size: 45px;
    margin: auto;
    max-width: 400px;
}



